<div class="wrapper">
  <div class="leftSide">
    <app-sidebar></app-sidebar>
  </div>
  <div class="rightSide flex flex--column flex--content-space-between">
    <div class="top">
      <ng-content select="[top]"></ng-content>
    </div>
    <div class="middle flex flex--fluid">
      <div class="left">
        <ng-content select="[left]"></ng-content>
      </div>
      <div class="right">
        <ng-content select="[right]"></ng-content>
      </div>
    </div>
    <div class="bottom">
      <ng-content select="[bottom]"></ng-content>
    </div>
  </div>
</div>
