.wrapper {
  display: flex;
  height: 100%;
}

.block {
  background-color: #eee;
  padding: 5px;
}

.leftSide {
  @extend .block;
  margin-right: 10px;
  width: 20%;
}

.rightSide {
  width: 100%;

  .middle {
    margin: 10px 0;
    overflow: auto;
  }

  .top, .bottom {
    @extend .block;
  }

  .left, .right {
    @extend .block;
    width: calc(100% - 5px);
    overflow: auto;
  }

  .left {
    margin-right: 10px;
  }
}
