.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}
