<app-dashboard>
  <div top>
    Hello, {{customer?.firstName}} {{customer?.lastName}}
  </div>
  <div left class="flex flex--column">
    <mat-checkbox *ngFor="let todo of customer?.todoList" [checked]="todo.finished">
      {{todo.label}}
    </mat-checkbox>
  </div>
  <div right class="">
    <div class="flex--content-space-between flex flex--wrap">
      <img *ngFor="let suggest of customer?.suggestions" [src]="suggest" alt="" class="image">
    </div>
  </div>
  <div bottom>
    <div>
      <div class="bold">
        Contact details:
      </div>
      <div>
        Phone: {{customer?.contactDetails?.phone}}
      </div>
      <div>
        Email: {{customer?.contactDetails.email}}
      </div>
    </div>
  </div>
</app-dashboard>
