/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html {
  overflow: hidden;
  position: sticky!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  z-index: 0;
}

.flex {
  display: flex;
}

.flex--fluid {
  flex: 1 1 auto;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--align-center {
  align-items: center;
}

.flex--content-space-between {
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

button[disabled] {
  cursor: not-allowed !important;
}
