<app-dashboard>
  <div top class="flex flex--align-center">
    <img [src]="account?.legalInformation?.avatar" alt="" class="avatar">
    <span>Passport: {{account?.legalInformation?.passportNumber}}</span>
  </div>
  <div left>
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Currency</th>
        <th class="mat-header-cell">Amount</th>
        <th class="mat-header-cell">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of account?.transactionHistory" class="mat-header-row">
        <td class="mat-cell">{{transaction.currency}}</td>
        <td class="mat-cell">{{transaction.amount}}</td>
        <td class="mat-cell">{{transaction.date | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div right class="flex flex--column">
    <mat-checkbox *ngFor="let setting of account?.settings | keyvalue" [checked]="setting.value">
      {{setting.key}}
    </mat-checkbox>
  </div>
  <div bottom>
    <form (ngSubmit)="onSubmit(problemForm)" #problemForm="ngForm">
      <div class="field">
        <label>
          Enter Email: <input name="email" placeholder="Enter email" ngModel>
        </label>
      </div>
      <div class="field">
        <label class="flex flex--column">
          Describe a problem:
          <textarea name="problem" ngModel></textarea>
        </label>
      </div>

      <button type="submit" mat-stroked-button>Submit</button>
    </form>
  </div>
</app-dashboard>
