@import "src/styles";

:host {
  @extend .flex--fluid
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.mat-table {
  width: 100%;

  .mat-header-cell {
    text-align: left;
  }
}

.field {
  margin-bottom: 10px;
}
