<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <mat-radio-group aria-label="Select an option"
                       class="flex flex--column"
                       name="isSent"
                       (change)="onIsSentChange($event)"
                       formControlName="isSent">
        <mat-radio-button [value]="true" class="field">Already sent</mat-radio-button>
        <mat-radio-button [value]="false" class="field">Not sent</mat-radio-button>
      </mat-radio-group>
    </div>

    <!--    if sent   -->
    <div class="field" *ngIf="form.value.isSent">
        <input type="file" formControlName="file" class="field">

      <div class="field">
        <mat-form-field>
          <mat-label>Enter sent date*</mat-label>
          <input matInput formControlName="date" [matDatepicker]="datePicker">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Enter comment</mat-label>
          <input matInput placeholder="Enter comment" formControlName="comment">
        </mat-form-field>
      </div>
    </div>

    <!--  if not sent  -->
    <div class="field" *ngIf="form.value.isSent === false">
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Enter passport*"
               matInput
               formControlName="passport"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of passportOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <div class="field">
          <label>Pick the urgency*:</label>
          <mat-radio-group aria-label="Select an option"
                           class="flex flex--column"
                           name="urgent"
                           formControlName="urgent">
            <mat-radio-button [value]="true" class="field">Urgent</mat-radio-button>
            <mat-radio-button [value]="false" class="field">Not urgent</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="field">
        <mat-form-field>
          <mat-label>Enter deadline{{form.value.urgent ? '*' : ''}}:</mat-label>
          <input matInput formControlName="deadline" [matDatepicker]="deadlinePicker">
          <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
          <mat-datepicker #deadlinePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <button [disabled]="!form.valid" mat-raised-button>Submit</button>
  </form>
</div>
